*.[oa]
*~
.deps
.sc-start*
/.gitmodules
/COPYING
/GNUmakefile
/INSTALL
/README-release
/README-release.in
/gnulib
/lib
/maint.mk
ChangeLog
Makefile
Makefile.in
aclocal.m4
autom4te.cache
config.cache
config.h
config.h.in
config.log
config.status
config.status.lineno
configure
configure.lineno
cyclo-zile.html
dotzile.sample
release-notes
stamp-h
stamp-h.in
stamp-h1
zile*.tar.gz
zile*.tar.gz.directive*
zile*.tar.gz.sig
