configure
configure.lineno
autom4te.cache
aclocal.m4
/build-aux
config.cache
config.log
config.status
config.status.lineno
ChangeLog
config.h
config.h.in
stamp-h
stamp-h.in
stamp-h1
zile*.tar.gz
zile*.tar.gz.sig
zile*.tar.gz.directive*
cyclo-zile.html
Makefile
Makefile.in
*.[oa]
*~
.deps
.sc-start*
release-notes
/GNUmakefile
/maint.mk
/README-release
/README-release.in
