/announce-gen
/compile
/config.guess
/config.rpath
/config.sub
/depcomp
/do-release-commit-and-tag
/gendocs.sh
/gnupload
/install-sh
/mdate-sh
/missing
/pmccabe.css
/pmccabe2html
/snippet
/texinfo.tex
/update-copyright
/useless-if-before-free
/vc-list-files
