/announce-gen
/compile
/config.guess
/config.rpath
/config.sub
/depcomp
/do-release-commit-and-tag
/gendocs.sh
/gitlog-to-changelog
/gnupload
/install-sh
/mdate-sh
/missing
/pmccabe.css
/pmccabe2html
/snippet
/texinfo.tex
/update-copyright
/useless-if-before-free
/vc-list-files
/gnu-web-doc-update
/bootstrap.in
/extract-trace
/funclib.sh
/inline-source
/options-parser
/test-driver