; .zile sample configuration

; Do not display the splash screen at startup [default: nil]
(setq inhibit-splash-screen nil)

; The default tabulation width [default: 8]
(setq tab-width 8)

; Always indent [default: t]
; Controls the operation of the TAB key.
; If t, hitting TAB always just indents the current line.
; If nil, hitting TAB indents the current line if point is at the
; left margin or in the line's indentation, otherwise it inserts a
; "real" TAB character.
(setq tab-always-indent t)

; Insert real tabs [default: nil]
; If non-nil, insert-tab inserts `real' tabs; otherwise, it always
; inserts spaces.
(setq indent-tabs-mode nil)

; The default fill column (in Auto Fill Mode) [default: 72]
(setq fill-column 72)

; Enable Auto Fill Mode [default: nil]
(setq auto-fill-mode nil)

; Kill whole line regardless of cursor position [default: nil]
(setq kill-whole-line nil)

; Ignore case when searching [default: t]
(setq case-fold-search t)

; Match case when replacing [default: t]
(setq case-replace t)

; Enable bell [default: t]
; Non-nil means ring the terminal bell on any error.
(setq ring-bell t)

; Standard indentation level [default: 4]
; Default number of columns for margin-changing functions to indent.
(setq standard-indent 4)

; If non-nil, deactivates the mark when the buffer contents change.
; Also enables highlighting of the region whenever the mark is active.
; The variable `highlight-nonselected-windows' controls whether to
; highlight all windows or just the selected window. [default: t]
(setq transient-mark-mode t)

; If non-nil, highlight region even in nonselected windows.
; [default: nil]
(setq highlight-nonselected-windows nil)

; Specify whether backups are made [default: t]
; Non-nil means make a backup of a file the first time it is saved.
; This is done by appending `~' to the file name.
(setq make-backup-files t)

; Specify target backup directory [default: nil]
; The directory for backup files, which must exist.
; If this variable is nil, the backup is made in the original file's
; directory.
; This value is used only when `make-backup-files' is `t'.
(setq backup-directory nil)

; Rebind keys
; (global-set-key "key" 'func)

; Better bindings for when backspace generates C-h
;(global-set-key "\BACKSPACE"  'backward-delete-char)
;(global-set-key "\C-h"        'backward-delete-char)
;(global-set-key "\M-:"        'mark-paragraph)
;(global-set-key "\M-hb"       'list-bindings)
;(global-set-key "\M-hd"       'describe-function)
;(global-set-key "\M-hf"       'describe-function)
;(global-set-key "\M-hF"       'view-zile-FAQ)
;(global-set-key "\M-hk"       'describe-key)
;(global-set-key "\M-hlr"      'list-registers)
;(global-set-key "\M-hs"       'help-config-sample)
;(global-set-key "\M-ht"       'help-with-tutorial)
;(global-set-key "\M-hw"       'where-is)
;(global-set-key "\M-hv"       'describe-variable)
