# .zilerc sample configuration

# Do not display the splash screen at startup [default: false]
skip-splash-screen = false

# Enable alternative key bindings [default: false]
# Remap the help functions (bound by default to `C-h') to `M-h'.
# This may be useful when `C-h' is already bound to Backspace or Delete.
alternative-bindings = false

# The default tabulation width [default: 8]
tab-width = 8

# The default fill column (in Auto Fill Mode) [default: 72]
fill-column = 72

# Automatically enable the Auto Fill Mode [default: false]
auto-fill-mode = false

# Specify the file backup method [default: simple]
#
# Possible values are: none and simple.
#
# * If `none' is specified, Zile will not create backup files.
# * If `simple' is specified, Zile will create a backup file with a
#   tilde `~' appended to the name (e.g.: on saving `foo.c' it will
#   create the backup `foo.c~').
backup-method = simple

# Enable backup directory for backup files [default: false]
# If enabled Zile will backup files to a user specified directory;
# the directory must exist and must be specified in the
# variable `backup-directory' (see below).
backup-with-directory = false

# Specify target backup directory [default: "~/.backup"]
# Directory must be existent.
backup-directory = "~/.backup"

# Expand tabs [default: false]
# If disabled, Zile will insert hard tabs (the character \t),
# otherwise it will insert spaces.
expand-tabs = false

# Enable beep [default: true]
# If enabled, a sound will be emitted on any error.
beep = true

# Standard indentation level [default: 4]
# Default number of columns for margin-changing functions to indent.
standard-indent = 4

# If enabled, deactivates the mark when the buffer contents change.
# Also enables highlighting of the region whenever the mark is active.
# The variable `highlight-nonselected-windows' controls whether to
# highlight all windows or just the selected window. [default: true]
transient-mark-mode = true

# If enabled, highlight region even in nonselected windows.
# [default: false]
highlight-nonselected-windows = false
