/Makefile.am
/alloca.c
/alloca.h
/alloca.in.h
/areadlink-with-size.c
/areadlink.h
/arg-nonnull.h
/asnprintf.c
/asprintf.c
/at-func.c
/basename-lgpl.c
/basename.c
/bitrotate.h
/btowc.c
/c++defs.h
/c-strstr.c
/c-strstr.h
/canonicalize-lgpl.c
/canonicalize.c
/canonicalize.h
/charset.alias
/chdir-long.c
/chdir-long.h
/chown.c
/cloexec.c
/cloexec.h
/close-hook.c
/close-hook.h
/close.c
/config.charset
/configmake.h
/creat-safer.c
/diffseq.h
/dirent.h
/dirent.in.h
/dirfd.c
/dirfd.h
/dirname-lgpl.c
/dirname.c
/dirname.h
/dosname.h
/dup-safer.c
/dup2.c
/errno.h
/errno.in.h
/error.c
/error.h
/euidaccess.c
/euidaccess.h
/exitfail.c
/exitfail.h
/fchdir.c
/fchmodat.c
/fchown-stub.c
/fchownat.c
/fclose.c
/fcntl--.h
/fcntl-safer.h
/fcntl.c
/fcntl.h
/fcntl.in.h
/fd-hook.c
/fd-hook.h
/fd-safer.c
/fdopendir.c
/fflush.c
/file-set.c
/file-set.h
/filenamecat-lgpl.c
/filenamecat.c
/filenamecat.h
/float+.h
/float.c
/float.h
/float.in.h
/fpucw.h
/fpurge.c
/freading.c
/freading.h
/frexp.c
/frexpl.c
/fseek.c
/fseeko.c
/fstatat.c
/fstrcmp.c
/fstrcmp.h
/ftell.c
/ftello.c
/fwriteerror.c
/fwriteerror.h
/getcwd-lgpl.c
/getcwd.c
/getdtablesize.c
/getgroups.c
/getopt.c
/getopt.h
/getopt.in.h
/getopt1.c
/getopt_int.h
/getpagesize.c
/gettext.h
/gettimeofday.c
/git-merge-changelog.c
/gl_anyhash_list1.h
/gl_anyhash_list2.h
/gl_anylinked_list1.h
/gl_anylinked_list2.h
/gl_anyrbtree_list1.h
/gl_anyrbtree_list2.h
/gl_anytree_list1.h
/gl_anytree_list2.h
/gl_anytree_oset.h
/gl_anytreehash_list1.h
/gl_anytreehash_list2.h
/gl_array_list.c
/gl_array_list.h
/gl_linked_list.c
/gl_linked_list.h
/gl_linkedhash_list.c
/gl_linkedhash_list.h
/gl_list.c
/gl_list.h
/gl_oset.c
/gl_oset.h
/gl_rbtree_oset.c
/gl_rbtree_oset.h
/gl_rbtreehash_list.c
/gl_rbtreehash_list.h
/gl_xlist.c
/gl_xlist.h
/glthread
/gnulib.mk
/group-member.c
/group-member.h
/hash-pjw.c
/hash-pjw.h
/hash-triple.c
/hash-triple.h
/hash.c
/hash.h
/intprops.h
/isnan.c
/isnand-nolibm.h
/isnand.c
/isnanf-nolibm.h
/isnanf.c
/isnanl-nolibm.h
/isnanl.c
/langinfo.h
/langinfo.in.h
/lchown.c
/link-warning.h
/localcharset.c
/localcharset.h
/lseek.c
/lstat.c
/lstat.h
/malloc.c
/malloca.c
/malloca.h
/malloca.valgrind
/math.h
/math.in.h
/mbrtowc.c
/mbsinit.c
/mbtowc-impl.h
/mbtowc.c
/memchr.c
/memchr.valgrind
/memcmp2.c
/memcmp2.h
/memmem.c
/mempcpy.c
/memrchr.c
/minmax.h
/mkdir.c
/mkdirat.c
/mkstemp.c
/nl_langinfo.c
/open-safer.c
/open.c
/openat-die.c
/openat-priv.h
/openat-proc.c
/openat-safer.c
/openat.c
/openat.h
/pathmax.h
/pipe-safer.c
/printf-args.c
/printf-args.h
/printf-frexp.c
/printf-frexp.h
/printf-frexpl.c
/printf-frexpl.h
/printf-parse.c
/printf-parse.h
/progname.c
/progname.h
/read-file.c
/read-file.h
/readlink.c
/realloc.c
/ref-add.sed
/ref-add.sin
/ref-del.sed
/ref-del.sin
/regcomp.c
/regex.c
/regex.h
/regex_internal.c
/regex_internal.h
/regexec.c
/rmdir.c
/same-inode.h
/same.c
/same.h
/save-cwd.c
/save-cwd.h
/signbitd.c
/signbitf.c
/signbitl.c
/size_max.h
/stat.c
/stdarg.h
/stdarg.in.h
/stdbool.h
/stdbool.in.h
/stddef.h
/stddef.in.h
/stdint.h
/stdint.in.h
/stdio-impl.h
/stdio-write.c
/stdio.h
/stdio.in.h
/stdlib.h
/stdlib.in.h
/str-two-way.h
/strdup.c
/streq.h
/strerror-impl.h
/strerror-override.c
/strerror-override.h
/strerror.c
/strerror_r.c
/string.h
/string.in.h
/stripslash.c
/strndup.c
/strnlen.c
/strstr.c
/sys
/sys_stat.h
/sys_stat.in.h
/sys_time.h
/sys_time.in.h
/sys_wait.in.h
/tempname.c
/tempname.h
/time.h
/time.in.h
/unistd--.h
/unistd-safer.h
/unistd.h
/unistd.in.h
/unlink.c
/unlinkat.c
/unused-parameter.h
/vasnprintf.c
/vasnprintf.h
/vasprintf.c
/verify.h
/version-etc-fsf.c
/version-etc.c
/version-etc.h
/w32sock.h
/warn-on-use.h
/wchar.h
/wchar.in.h
/wcrtomb.c
/wctype.h
/wctype.in.h
/xalloc-die.c
/xalloc-oversized.h
/xalloc.h
/xasprintf.c
/xgetcwd.c
/xgetcwd.h
/xmalloc.c
/xmalloca.c
/xmalloca.h
/xsize.h
/xstrndup.c
/xstrndup.h
/xvasprintf.c
/xvasprintf.h
