Makefile.am
alloca.c
alloca.in.h
asnprintf.c
asprintf.c
basename.c
chown.c
config.charset
dirfd.c
dirfd.h
dirname.c
dirname.h
error.c
error.h
euidaccess.c
euidaccess.h
exitfail.c
exitfail.h
fchown-stub.c
fcntl.in.h
float+.h
float.in.h
getcwd.c
getopt.c
getopt.in.h
getopt1.c
getopt_int.h
gettext.h
gl_anylinked_list1.h
gl_anylinked_list2.h
gl_array_list.c
gl_array_list.h
gl_linked_list.c
gl_linked_list.h
gl_list.c
gl_list.h
group-member.c
group-member.h
hash.c
hash.h
intprops.h
localcharset.c
localcharset.h
malloc.c
mempcpy.c
minmax.h
printf-args.c
printf-args.h
printf-parse.c
printf-parse.h
ref-add.sin
ref-del.sin
regcomp.c
regex.c
regex.h
regex_internal.c
regex_internal.h
regexec.c
size_max.h
stdbool.in.h
stdint.in.h
stdio.in.h
stdlib.in.h
strerror.c
string.in.h
stripslash.c
strndup.c
strnlen.c
sys_stat.in.h
unistd.in.h
vasnprintf.c
vasnprintf.h
vasprintf.c
version-etc-fsf.c
version-etc.c
version-etc.h
wchar.in.h
wctype.in.h
xalloc-die.c
xalloc.h
xmalloc.c
xsize.h
xstrndup.c
xstrndup.h
/at-func.c
/canonicalize-lgpl.c
/canonicalize.h
/chdir-long.c
/chdir-long.h
/creat-safer.c
/dirent.in.h
/dup-safer.c
/dup2.c
/errno.in.h
/fchdir.c
/fchmodat.c
/fchownat.c
/fcntl--.h
/fcntl-safer.h
/fd-safer.c
/fstatat.c
/lchown.c
/lstat.c
/lstat.h
/malloca.c
/malloca.h
/malloca.valgrind
/memrchr.c
/mkdirat.c
/open-safer.c
/open.c
/openat-die.c
/openat-priv.h
/openat-proc.c
/openat.c
/openat.h
/pathmax.h
/pipe-safer.c
/readlink.c
/same-inode.h
/save-cwd.c
/save-cwd.h
/stdarg.in.h
/stdio-write.c
/strdup.c
/unistd--.h
/unistd-safer.h
/xgetcwd.c
/xgetcwd.h
