Makefile.am
alloca.c
alloca.in.h
asnprintf.c
asprintf.c
at-func.c
basename.c
canonicalize-lgpl.c
canonicalize.h
chdir-long.c
chdir-long.h
chown.c
config.charset
configmake.h
creat-safer.c
dirent.in.h
dirent.h
dirfd.c
dirfd.h
dirname.c
dirname.h
dup-safer.c
dup2.c
errno.in.h
error.c
error.h
euidaccess.c
euidaccess.h
exitfail.c
exitfail.h
fchdir.c
fchmodat.c
fchown-stub.c
fchownat.c
fcntl--.h
fcntl-safer.h
fcntl.in.h
fd-safer.c
float+.h
float.in.h
fstatat.c
getcwd.c
getopt.c
getopt.in.h
getopt1.c
getopt_int.h
gettext.h
gl_anylinked_list1.h
gl_anylinked_list2.h
gl_array_list.c
gl_array_list.h
gl_linked_list.c
gl_linked_list.h
gl_list.c
gl_list.h
group-member.c
group-member.h
intprops.h
lchown.c
localcharset.c
localcharset.h
lstat.c
lstat.h
malloc.c
malloca.c
malloca.h
malloca.valgrind
mempcpy.c
memrchr.c
minmax.h
mkdirat.c
open-safer.c
open.c
openat-die.c
openat-priv.h
openat-proc.c
openat.c
openat.h
pathmax.h
pipe-safer.c
printf-args.c
printf-args.h
printf-parse.c
printf-parse.h
readlink.c
ref-add.sin
ref-del.sin
regcomp.c
regex.c
regex.h
regex_internal.c
regex_internal.h
regexec.c
same-inode.h
save-cwd.c
save-cwd.h
size_max.h
stdarg.in.h
stdbool.in.h
stdint.in.h
stdio-write.c
stdio.in.h
stdlib.in.h
strdup.c
strerror.c
string.in.h
stripslash.c
strndup.c
strnlen.c
sys_stat.in.h
unistd--.h
unistd-safer.h
unistd.in.h
vasnprintf.c
vasnprintf.h
vasprintf.c
version-etc-fsf.c
version-etc.c
version-etc.h
wchar.in.h
wctype.in.h
xalloc-die.c
xalloc.h
xgetcwd.c
xgetcwd.h
xmalloc.c
xsize.h
xstrndup.c
xstrndup.h
alloca.h
charset.alias
fcntl.h
ref-add.sed
ref-del.sed
stdio.h
stdlib.h
string.h
sys
unistd.h
/close.c
/fclose.c
/w32sock.h
/btowc.c
/mbrtowc.c
/mbsinit.c
/streq.h
/verify.h
/wcrtomb.c
/areadlink-with-size.c
/areadlink.h
/canonicalize.c
/file-set.c
/file-set.h
/filenamecat.c
/filenamecat.h
/close-hook.c
/close-hook.h
