.deps
astr
zile
tbl_funcs.h
tbl_opts.h
tbl_vars.h
mkvars.stamp
gendocs_template
zile.info
vars.texi
funcs.texi
dotzile.sample
dotzile.texi
zile.1
zile.1.in
zile.aux
zile.cp
zile.fn
zile.ky
zile.log
zile.pg
zile.toc
zile.tp
zile.vr
core
gmon.out
